USE [master]
GO
/****** Object:  Database [OrgManagerDb]    Script Date: 17. 9. 2025 12:32:28 ******/
CREATE DATABASE [OrgManagerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrgManagerDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OrgManagerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrgManagerDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OrgManagerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrgManagerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrgManagerDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17. 9. 2025 12:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 17. 9. 2025 12:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](200) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrgNodes]    Script Date: 17. 9. 2025 12:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrgNodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[ParentId] [int] NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LeaderEmployeeId] [int] NULL,
 CONSTRAINT [PK_OrgNodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250911170308_InitialCreate', N'8.0.20')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Title], [FirstName], [LastName], [Phone], [Email]) VALUES (1, N'Ing.', N'Ján', N'Novák', N'0903123456', N'jan.novak@example.com')
INSERT [dbo].[Employees] ([Id], [Title], [FirstName], [LastName], [Phone], [Email]) VALUES (2, N'-', N'Peter', N'Sykora', N'0903123456', N'peter.sykora@mail.com')
INSERT [dbo].[Employees] ([Id], [Title], [FirstName], [LastName], [Phone], [Email]) VALUES (3, N'mgr.', N'Jozef', N'Duha', N'0911222333', N'jozefduha@mail.com')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[OrgNodes] ON 

INSERT [dbo].[OrgNodes] ([Id], [Type], [ParentId], [Code], [Name], [LeaderEmployeeId]) VALUES (1, 0, NULL, N'COMP', N'Moja Firma', 1)
INSERT [dbo].[OrgNodes] ([Id], [Type], [ParentId], [Code], [Name], [LeaderEmployeeId]) VALUES (2, 1, 1, N'Divizia 1', N'Nakladna doprava', 2)
INSERT [dbo].[OrgNodes] ([Id], [Type], [ParentId], [Code], [Name], [LeaderEmployeeId]) VALUES (3, 2, 2, N'Projekt 1', N'Hala 1', 3)
SET IDENTITY_INSERT [dbo].[OrgNodes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrgNodes_Code]    Script Date: 17. 9. 2025 12:32:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OrgNodes_Code] ON [dbo].[OrgNodes]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrgNodes_LeaderEmployeeId]    Script Date: 17. 9. 2025 12:32:30 ******/
CREATE NONCLUSTERED INDEX [IX_OrgNodes_LeaderEmployeeId] ON [dbo].[OrgNodes]
(
	[LeaderEmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrgNodes_ParentId]    Script Date: 17. 9. 2025 12:32:30 ******/
CREATE NONCLUSTERED INDEX [IX_OrgNodes_ParentId] ON [dbo].[OrgNodes]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrgNodes]  WITH CHECK ADD  CONSTRAINT [FK_OrgNodes_Employees_LeaderEmployeeId] FOREIGN KEY([LeaderEmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrgNodes] CHECK CONSTRAINT [FK_OrgNodes_Employees_LeaderEmployeeId]
GO
ALTER TABLE [dbo].[OrgNodes]  WITH CHECK ADD  CONSTRAINT [FK_OrgNodes_OrgNodes_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[OrgNodes] ([Id])
GO
ALTER TABLE [dbo].[OrgNodes] CHECK CONSTRAINT [FK_OrgNodes_OrgNodes_ParentId]
GO
USE [master]
GO
